-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hospital_v2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `active_substance`
--

DROP TABLE IF EXISTS `active_substance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `active_substance` (
  `substance_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `substance_name` text DEFAULT NULL,
  PRIMARY KEY (`substance_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1458 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_active_substance
BEFORE DELETE ON active_substance
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM ACTIVE SUBSTANCE';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `administrative_faculty`
--

DROP TABLE IF EXISTS `administrative_faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `administrative_faculty` (
  `administrativeFaculty_id` int(10) unsigned NOT NULL,
  `role` varchar(100) DEFAULT NULL,
  `office_number` int(11) NOT NULL,
  `dept_name` varchar(50) NOT NULL,
  PRIMARY KEY (`administrativeFaculty_id`),
  KEY `adm_dept_fk` (`dept_name`),
  CONSTRAINT `adm_dept_fk` FOREIGN KEY (`dept_name`) REFERENCES `department` (`dept_name`) ON UPDATE CASCADE,
  CONSTRAINT `adm_fk` FOREIGN KEY (`administrativeFaculty_id`) REFERENCES `faculty` (`faculty_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `adm_valid_dept_name` BEFORE INSERT ON `administrative_faculty` FOR
EACH ROW BEGIN IF (NEW.dept_name NOT IN (SELECT dept_name FROM department))
THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid department name'; END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_administrative_faculty
BEFORE DELETE ON administrative_faculty
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM ADMINISTRATIVE FACULTY';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `allergic_to_substance`
--

DROP TABLE IF EXISTS `allergic_to_substance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `allergic_to_substance` (
  `patient_id` int(10) unsigned NOT NULL,
  `substance_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`patient_id`,`substance_id`),
  KEY `fk_active_substance_allergic_to_substance` (`substance_id`),
  CONSTRAINT `fk_active_substance_allergic_to_substance` FOREIGN KEY (`substance_id`) REFERENCES `active_substance` (`substance_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_allergic_to_substance` FOREIGN KEY (`patient_id`) REFERENCES `patient` (`patient_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assistants_procedure`
--

DROP TABLE IF EXISTS `assistants_procedure`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assistants_procedure` (
  `med_procedure_id` int(10) unsigned NOT NULL,
  `faculty_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`med_procedure_id`,`faculty_id`),
  KEY `fk_faculty_assistants_procedure` (`faculty_id`),
  CONSTRAINT `fk_faculty_assistants_procedure` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_med_procedure_assistants_procedure` FOREIGN KEY (`med_procedure_id`) REFERENCES `medical_procedures` (`med_procedure_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `assistants_no_double_booking` 
BEFORE INSERT ON `assistants_procedure` 
FOR EACH ROW 
BEGIN 
    IF EXISTS (
        SELECT 1 
        FROM assistants_procedure ap 
        JOIN medical_procedures mp ON ap.med_procedure_id = mp.med_procedure_id 
        JOIN medical_procedures mp_new ON mp_new.med_procedure_id = NEW.med_procedure_id
        WHERE ap.faculty_id = NEW.faculty_id 
          AND ap.med_procedure_id != NEW.med_procedure_id 
          AND mp.procedure_date = mp_new.procedure_date 
          AND mp_new.start_time_procedure < DATE_ADD(mp.start_time_procedure, INTERVAL mp.procedure_duration MINUTE) 
          AND DATE_ADD(mp_new.start_time_procedure, INTERVAL mp_new.procedure_duration MINUTE) > mp.start_time_procedure
    ) THEN 
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Assistant is already assigned to another overlapping procedure.'; 
    END IF; 
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_assistants_procedure
BEFORE DELETE ON assistants_procedure
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM TABLE ASSISTANTS_PROCEDURE';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `contact_of_patient`
--

DROP TABLE IF EXISTS `contact_of_patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contact_of_patient` (
  `contact_id` int(10) unsigned NOT NULL,
  `SSN` char(11) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `father_name` varchar(50) NOT NULL,
  `address` varchar(150) NOT NULL,
  `email` varchar(75) NOT NULL,
  `citizenship` varchar(100) NOT NULL,
  PRIMARY KEY (`contact_id`),
  UNIQUE KEY `contact_id` (`contact_id`),
  UNIQUE KEY `SSN` (`SSN`),
  CONSTRAINT `email_contact_patient` CHECK (`email` like '%@%')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_contact_of_patient
BEFORE DELETE ON contact_of_patient
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM CONTACT OF PATIENT';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `cost`
--

DROP TABLE IF EXISTS `cost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cost` (
  `cost_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `KEN_code` varchar(100) NOT NULL,
  `KEN_cost` float NOT NULL,
  `ALOS` int(11) NOT NULL,
  `patient_duration_of_stay` int(11) NOT NULL,
  `extra_cost_ALOS` float GENERATED ALWAYS AS (if(`patient_duration_of_stay` > `ALOS`,`KEN_cost` / nullif(`ALOS`,0) * (`patient_duration_of_stay` - `ALOS`),0)) STORED,
  PRIMARY KEY (`cost_id`)
) ENGINE=InnoDB AUTO_INCREMENT=501 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department` (
  `dept_name` varchar(100) NOT NULL,
  `dept_desc` text NOT NULL,
  `num_of_beds_in_dept` int(11) NOT NULL,
  `building` varchar(50) NOT NULL,
  `floor` varchar(20) NOT NULL,
  `dept_director_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`dept_name`),
  UNIQUE KEY `dept_director_id` (`dept_director_id`),
  CONSTRAINT `fk_valid_director_id` FOREIGN KEY (`dept_director_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_director_rank` BEFORE INSERT ON `department` FOR EACH
ROW BEGIN IF (SELECT position FROM doctor WHERE doctor_id = NEW.dept_director_id) !=
'Clinical_Director_Doc' THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'The
assigned doctor must have the position Clinical_Director_Doc'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_department
BEFORE DELETE ON department
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE A DEPARTMENT';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `diagnosis`
--

DROP TABLE IF EXISTS `diagnosis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diagnosis` (
  `ICD10_code` varchar(7) NOT NULL,
  `description` text DEFAULT NULL,
  `disease_type` varchar(100) NOT NULL,
  PRIMARY KEY (`ICD10_code`),
  KEY `idx_disease_type` (`disease_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_diagnosis
BEFORE DELETE ON diagnosis
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM DIAGNOSIS';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `doctor`
--

DROP TABLE IF EXISTS `doctor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctor` (
  `doctor_id` int(10) unsigned NOT NULL,
  `med_association_license_num` varchar(100) NOT NULL,
  `med_specialty` varchar(100) DEFAULT NULL,
  `position` varchar(30) NOT NULL,
  PRIMARY KEY (`doctor_id`),
  UNIQUE KEY `med_association_license_num` (`med_association_license_num`),
  KEY `idx_med_specialty` (`med_specialty`),
  CONSTRAINT `doctor_fk` FOREIGN KEY (`doctor_id`) REFERENCES `faculty` (`faculty_id`) ON UPDATE CASCADE,
  CONSTRAINT `correct_rank_doc` CHECK (`position` in ('Intern_Doc','Senior_Consultant_Doc','Junior_Consultant_Doc','Clinical_Director_Doc'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_doctor
BEFORE DELETE ON doctor
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE A DOCTOR';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `doctor_dept`
--

DROP TABLE IF EXISTS `doctor_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctor_dept` (
  `dept_name` varchar(100) NOT NULL,
  `doctor_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`doctor_id`,`dept_name`),
  KEY `dept_fk` (`dept_name`),
  CONSTRAINT `dept_fk` FOREIGN KEY (`dept_name`) REFERENCES `department` (`dept_name`) ON UPDATE CASCADE,
  CONSTRAINT `facultyid_fk` FOREIGN KEY (`doctor_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_doc_dept_name` BEFORE INSERT ON `doctor_dept` FOR EACH
ROW BEGIN IF (NEW.dept_name NOT IN (SELECT dept_name FROM department)) THEN
SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid department name'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `doctor_full_info`
--

DROP TABLE IF EXISTS `doctor_full_info`;
/*!50001 DROP VIEW IF EXISTS `doctor_full_info`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `doctor_full_info` AS SELECT
 1 AS `doctor_id`,
  1 AS `SSN`,
  1 AS `first_name`,
  1 AS `last_name`,
  1 AS `age`,
  1 AS `email`,
  1 AS `phone_number`,
  1 AS `date_hired`,
  1 AS `med_association_license_num`,
  1 AS `med_specialty`,
  1 AS `position` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `drug_treatment`
--

DROP TABLE IF EXISTS `drug_treatment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drug_treatment` (
  `drug_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `product_name` text DEFAULT NULL,
  `route_of_administration` text DEFAULT NULL,
  `product_authorisation_country` text DEFAULT NULL,
  `marketing_authorisation_holder` text DEFAULT NULL,
  `pharmacovigilance_system_master_file_location` varchar(60) NOT NULL,
  `pharmacovigilance_enquiries_email_address` varchar(100) NOT NULL,
  `pharmacovigilance_enquiries_telephone_number` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`drug_id`),
  CONSTRAINT `email_drug_treatment` CHECK (`pharmacovigilance_enquiries_email_address` like '%@%')
) ENGINE=InnoDB AUTO_INCREMENT=5001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_drug_teatment
BEFORE DELETE ON drug_treatment
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM DRUG TREATMENT';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `emergency_contact`
--

DROP TABLE IF EXISTS `emergency_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emergency_contact` (
  `contact_id` int(10) unsigned NOT NULL,
  `patient_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`contact_id`,`patient_id`),
  KEY `fk_emergency_contact_patient` (`patient_id`),
  CONSTRAINT `fk_emergency_contact_contact_of_patient` FOREIGN KEY (`contact_id`) REFERENCES `contact_of_patient` (`contact_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_emergency_contact_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient` (`patient_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evaluation_of_doctor`
--

DROP TABLE IF EXISTS `evaluation_of_doctor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_of_doctor` (
  `evaluation_of_doc_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `evaluation_date` date NOT NULL,
  `medical_care_quality` smallint(6) DEFAULT NULL,
  `hospitalization_id` int(10) unsigned NOT NULL,
  `prescription_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`evaluation_of_doc_id`),
  UNIQUE KEY `hospitalization_id` (`hospitalization_id`),
  UNIQUE KEY `prescription_id` (`prescription_id`),
  CONSTRAINT `fk_evaluation_doc_hospitalization` FOREIGN KEY (`hospitalization_id`) REFERENCES `hospitalization` (`hospitalization_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_evaluation_doctor` FOREIGN KEY (`prescription_id`) REFERENCES `prescription` (`prescription_id`) ON UPDATE CASCADE,
  CONSTRAINT `evaluation_of_doctor_chk_1` CHECK (`medical_care_quality` between 1 and 5)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_date_evaluation2` BEFORE INSERT ON `evaluation_of_doctor` FOR EACH ROW BEGIN IF EXISTS(SELECT 1 FROM hospitalization h WHERE h.hospitalization_id=NEW.hospitalization_id AND (h.discharge_date>NEW.evaluation_date OR h.discharge_date IS NULL )) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Evaluation date is not valid'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `evaluation_of_hospitalization`
--

DROP TABLE IF EXISTS `evaluation_of_hospitalization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_of_hospitalization` (
  `evaluation_of_hosp_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `evaluation_date` date NOT NULL,
  `nursing_care_quality` smallint(6) DEFAULT NULL,
  `cleanliness` smallint(6) DEFAULT NULL,
  `food` smallint(6) DEFAULT NULL,
  `overall_experience` smallint(6) DEFAULT NULL,
  `hospitalization_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`evaluation_of_hosp_id`),
  UNIQUE KEY `hospitalization_id` (`hospitalization_id`),
  CONSTRAINT `fk_evaluation_hospitalization` FOREIGN KEY (`hospitalization_id`) REFERENCES `hospitalization` (`hospitalization_id`) ON UPDATE CASCADE,
  CONSTRAINT `evaluation_of_hospitalization_chk_1` CHECK (`nursing_care_quality` between 1 and 5),
  CONSTRAINT `evaluation_of_hospitalization_chk_2` CHECK (`cleanliness` between 1 and 5),
  CONSTRAINT `evaluation_of_hospitalization_chk_3` CHECK (`food` between 1 and 5)
) ENGINE=InnoDB AUTO_INCREMENT=227 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_date_evaluation1` BEFORE INSERT ON `evaluation_of_hospitalization` FOR EACH ROW BEGIN IF EXISTS(SELECT 1 FROM hospitalization h WHERE h.hospitalization_id=NEW.hospitalization_id AND (h.discharge_date>NEW.evaluation_date OR h.discharge_date IS NULL )) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Evaluation date is not valid'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_evaluation_of_hospitalization
BEFORE DELETE ON evaluation_of_hospitalization

FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM EVALUATION';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculty` (
  `faculty_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `SSN` char(11) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `age` int(11) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone_number` varchar(30) DEFAULT NULL,
  `date_hired` date NOT NULL,
  PRIMARY KEY (`faculty_id`),
  UNIQUE KEY `SSN` (`SSN`),
  CONSTRAINT `email_constraint` CHECK (`email` like '%@%')
) ENGINE=InnoDB AUTO_INCREMENT=531 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_faculty
BEFORE DELETE ON faculty
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM FACULTY';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `faculty_shifts`
--

DROP TABLE IF EXISTS `faculty_shifts`;
/*!50001 DROP VIEW IF EXISTS `faculty_shifts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `faculty_shifts` AS SELECT
 1 AS `faculty_id`,
  1 AS `shift_id`,
  1 AS `date` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `hospital_bed`
--

DROP TABLE IF EXISTS `hospital_bed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospital_bed` (
  `bed_number` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `bed_type` varchar(50) DEFAULT NULL,
  `bed_status` varchar(50) DEFAULT NULL,
  `dept_name` varchar(100) NOT NULL,
  PRIMARY KEY (`bed_number`),
  KEY `bed_dept_fk` (`dept_name`),
  CONSTRAINT `bed_dept_fk` FOREIGN KEY (`dept_name`) REFERENCES `department` (`dept_name`) ON UPDATE CASCADE,
  CONSTRAINT `correct_bed_type` CHECK (`bed_type` in ('Single-bed','Multi-bed','ICU-bed'))
) ENGINE=InnoDB AUTO_INCREMENT=356 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `bed_valid_dept_name` BEFORE INSERT ON `hospital_bed` FOR EACH
ROW BEGIN IF (NEW.dept_name NOT IN (SELECT dept_name FROM department)) THEN
SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid department name'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_hospital_bed
BEFORE DELETE ON hospital_bed
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM HOSPITAL BED';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `hospitalization`
--

DROP TABLE IF EXISTS `hospitalization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospitalization` (
  `hospitalization_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `admission_date` date NOT NULL,
  `discharge_date` date DEFAULT NULL,
  `hospitalization_admissionDiagnosis_code` varchar(7) NOT NULL,
  `hospitalization_dischargeDiagnosis_code` varchar(7) DEFAULT NULL,
  `triage_id` int(10) unsigned NOT NULL,
  `cost_id` int(10) unsigned NOT NULL,
  `bed_number` int(10) unsigned NOT NULL,
  PRIMARY KEY (`hospitalization_id`),
  UNIQUE KEY `triage_id` (`triage_id`),
  KEY `fk_hospitalization_cost` (`cost_id`),
  KEY `fk_hospitalization_bed` (`bed_number`),
  KEY `fk_hospitalization_dischargeDiagnosis_code` (`hospitalization_dischargeDiagnosis_code`),
  KEY `idx_hosp_admission_date` (`hospitalization_admissionDiagnosis_code`),
  CONSTRAINT `fk_hospitalization_admissionDiagnosis_code` FOREIGN KEY (`hospitalization_admissionDiagnosis_code`) REFERENCES `diagnosis` (`ICD10_code`) ON UPDATE CASCADE,
  CONSTRAINT `fk_hospitalization_bed` FOREIGN KEY (`bed_number`) REFERENCES `hospital_bed` (`bed_number`) ON UPDATE CASCADE,
  CONSTRAINT `fk_hospitalization_cost` FOREIGN KEY (`cost_id`) REFERENCES `cost` (`cost_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_hospitalization_dischargeDiagnosis_code` FOREIGN KEY (`hospitalization_dischargeDiagnosis_code`) REFERENCES `diagnosis` (`ICD10_code`) ON UPDATE CASCADE,
  CONSTRAINT `fk_hospitalization_triage` FOREIGN KEY (`triage_id`) REFERENCES `triage` (`triage_id`) ON UPDATE CASCADE,
  CONSTRAINT `discharge_date_constraint` CHECK (`discharge_date` >= `admission_date`)
) ENGINE=InnoDB AUTO_INCREMENT=501 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `unique_hospitalization` BEFORE INSERT ON `hospitalization` FOR EACH ROW BEGIN IF EXISTS (SELECT 1 FROM triage t LEFT JOIN hospitalization h ON t.triage_id = h.triage_id WHERE t.patient_id = (SELECT patient_id FROM triage WHERE triage_id = NEW.triage_id) AND h.discharge_date IS NULL AND h.hospitalization_id IS NOT NULL) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Patient is already being hospitalized.'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `upd_cost_after_discharge` 
AFTER UPDATE ON `hospitalization` FOR EACH ROW 
BEGIN IF (OLD.discharge_date <=> NEW.discharge_date) THEN
        UPDATE cost SET extra_cost_ALOS = IF(patient_duration_of_stay > ALOS, 
            (KEN_cost / NULLIF(ALOS, 0)) * (patient_duration_of_stay - ALOS), 0)
        WHERE cost_id = OLD.cost_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `hospitalization_bed_vw`
--

DROP TABLE IF EXISTS `hospitalization_bed_vw`;
/*!50001 DROP VIEW IF EXISTS `hospitalization_bed_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `hospitalization_bed_vw` AS SELECT
 1 AS `bed_number`,
  1 AS `dept_name`,
  1 AS `hospitalization_id`,
  1 AS `admission_date`,
  1 AS `cost_id`,
  1 AS `triage_id` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `lab_tests`
--

DROP TABLE IF EXISTS `lab_tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lab_tests` (
  `test_id` int(11) NOT NULL AUTO_INCREMENT,
  `test_code` varchar(100) DEFAULT NULL,
  `test_type` text DEFAULT NULL,
  `test_category` text NOT NULL,
  `test_date` date NOT NULL,
  `test_result_description` varchar(300) NOT NULL,
  `test_result_values` varchar(300) NOT NULL,
  `test_cost` decimal(10,2) NOT NULL,
  `hospitalization_id` int(10) unsigned NOT NULL,
  `test_orderingDoctor` int(10) unsigned NOT NULL,
  PRIMARY KEY (`test_id`),
  KEY `fk_lab_tests_hospitalization` (`hospitalization_id`),
  KEY `fk_lab_tests_test_orderingDoctor` (`test_orderingDoctor`),
  CONSTRAINT `fk_lab_tests_hospitalization` FOREIGN KEY (`hospitalization_id`) REFERENCES `hospitalization` (`hospitalization_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_lab_tests_test_orderingDoctor` FOREIGN KEY (`test_orderingDoctor`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_lab_tests
BEFORE DELETE ON lab_tests
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM LAB TESTS';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `medical_procedures`
--

DROP TABLE IF EXISTS `medical_procedures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_procedures` (
  `med_procedure_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_code` varchar(10) NOT NULL,
  `procedure_type` text NOT NULL,
  `procedure_category` varchar(100) NOT NULL,
  `procedure_date` date NOT NULL,
  `procedure_duration` int(11) NOT NULL,
  `start_time_procedure` time NOT NULL,
  `procedure_cost` decimal(10,2) NOT NULL,
  `hospitalization_id` int(10) unsigned NOT NULL,
  `room_id` int(10) unsigned NOT NULL,
  `mainSurgeon_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`med_procedure_id`),
  KEY `fk_hospitalization_medProcedures` (`hospitalization_id`),
  KEY `fk_medical_procedures_room` (`room_id`),
  KEY `fk_mainSurgeon_procedure` (`mainSurgeon_id`),
  KEY `idx_procedures_date_surgeon` (`procedure_date`,`mainSurgeon_id`),
  CONSTRAINT `fk_hospitalization_medProcedures` FOREIGN KEY (`hospitalization_id`) REFERENCES `hospitalization` (`hospitalization_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_mainSurgeon_procedure` FOREIGN KEY (`mainSurgeon_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_procedures_room` FOREIGN KEY (`room_id`) REFERENCES `procedure_room` (`room_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_procedure_room` BEFORE INSERT ON `medical_procedures` FOR EACH ROW BEGIN IF EXISTS(SELECT 1 FROM medical_procedures m WHERE room_id =NEW.room_id
AND m.procedure_date=NEW.procedure_date
AND m.start_time_procedure<DATE_ADD(NEW.start_time_procedure, INTERVAL NEW.procedure_duration MINUTE)
AND DATE_ADD(m.start_time_procedure, INTERVAL m.procedure_duration MINUTE)>NEW.start_time_procedure)
THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Procedure room is occupied during set date and time'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_surgeon_shift` BEFORE INSERT ON `medical_procedures` FOR EACH ROW BEGIN DECLARE proc_date DATE; DECLARE proc_start_time TIME; DECLARE proc_time_type VARCHAR(20); SET proc_date = NEW.procedure_date; SET proc_start_time = NEW.start_time_procedure; SET proc_time_type=CASE WHEN proc_start_time BETWEEN '07:00:00' AND '15:00:00' THEN 'morning' WHEN proc_start_time BETWEEN '15:00:00' AND '23:00:00' THEN 'afternoon' ELSE 'night' END; IF NOT EXISTS (SELECT 1 FROM shift_department_team sdt JOIN shift s ON s.shift_id=sdt.shift_id WHERE sdt.faculty_id = NEW.mainSurgeon_id AND s.shift_date=proc_date AND s.shift_type=proc_time_type) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Main surgeon does not have a shift during start time of procedure'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `main_surgeon_no_double_booking` BEFORE INSERT ON `medical_procedures` FOR EACH ROW BEGIN IF EXISTS (SELECT 1 FROM medical_procedures mp WHERE mp.mainSurgeon_id = NEW.mainSurgeon_id AND TIMESTAMP(NEW.procedure_date, NEW.start_time_procedure) <       DATE_ADD(TIMESTAMP(mp.procedure_date, mp.start_time_procedure), INTERVAL mp.procedure_duration MINUTE) AND DATE_ADD(TIMESTAMP(NEW.procedure_date, NEW.start_time_procedure), INTERVAL NEW.procedure_duration MINUTE) >          TIMESTAMP(mp.procedure_date, mp.start_time_procedure)) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'The Main Surgeon is already booked for an overlapping procedure.'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_medical_procedures
BEFORE DELETE ON medical_procedures
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM MEDICAL PROCEDURES';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `nurse`
--

DROP TABLE IF EXISTS `nurse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nurse` (
  `nurse_id` int(10) unsigned NOT NULL,
  `nurse_rank` varchar(100) DEFAULT NULL,
  `dept_name` varchar(50) NOT NULL,
  PRIMARY KEY (`nurse_id`),
  KEY `nurse_dept_fk` (`dept_name`),
  CONSTRAINT `nurse_dept_fk` FOREIGN KEY (`dept_name`) REFERENCES `department` (`dept_name`) ON UPDATE CASCADE,
  CONSTRAINT `nurse_fk` FOREIGN KEY (`nurse_id`) REFERENCES `faculty` (`faculty_id`) ON UPDATE CASCADE,
  CONSTRAINT `correct_rank_nurse` CHECK (`nurse_rank` in ('Assistant_Nurse','Senior_Nurse','Supervisor_Nurse'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `nurse_valid_dept_name` BEFORE INSERT ON `nurse` FOR EACH ROW
BEGIN IF (NEW.dept_name NOT IN (SELECT dept_name FROM department)) THEN SIGNAL
SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid department name'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_nurse
BEFORE DELETE ON nurse
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE A NURSE';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `patient`
--

DROP TABLE IF EXISTS `patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient` (
  `patient_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `SSN` char(11) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `father_name` varchar(50) NOT NULL,
  `birth_date` date NOT NULL,
  `gender` varchar(10) NOT NULL,
  `weight` smallint(5) unsigned NOT NULL,
  `height` smallint(5) unsigned NOT NULL,
  `address` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `patient_phone` varchar(15) NOT NULL,
  `profession` varchar(100) DEFAULT NULL,
  `citizenship` varchar(100) DEFAULT NULL,
  `insurance_provider` varchar(100) NOT NULL,
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `SSN` (`SSN`),
  CONSTRAINT `constraint_for_ssn` CHECK (octet_length(`SSN`) = 11),
  CONSTRAINT `email_patient` CHECK (`email` like '%@%')
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_patient
BEFORE DELETE ON patient
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE A PATIENT';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `prescription`
--

DROP TABLE IF EXISTS `prescription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prescription` (
  `prescription_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `dose` varchar(30) DEFAULT NULL,
  `frequency` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `drug_id` int(10) unsigned NOT NULL,
  `hospitalization_id` int(10) unsigned NOT NULL,
  `doctor_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`prescription_id`),
  KEY `fk_prescription_drug_treatment` (`drug_id`),
  KEY `fk_prescription_doctor` (`doctor_id`),
  KEY `fk_prescription_hospitalization` (`hospitalization_id`),
  CONSTRAINT `fk_prescription_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_prescription_drug_treatment` FOREIGN KEY (`drug_id`) REFERENCES `drug_treatment` (`drug_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_prescription_hospitalization` FOREIGN KEY (`hospitalization_id`) REFERENCES `hospitalization` (`hospitalization_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=401 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `valid_prescription_no_allergy` 
BEFORE INSERT ON `prescription`
FOR EACH ROW 
BEGIN 
    IF EXISTS (
        SELECT 1
        FROM substance_in_drug AS sd 
        INNER JOIN allergic_to_substance AS a ON sd.substance_id = a.substance_id 
        INNER JOIN triage_hosp_vw AS vw ON vw.patient_id = a.patient_id
        WHERE sd.drug_id = NEW.drug_id 
          AND vw.hospitalization_id = NEW.hospitalization_id
    ) THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Attention, patient is allergic to a substance in prescribed drug'; 
    END IF; 
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `procedure_room`
--

DROP TABLE IF EXISTS `procedure_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `procedure_room` (
  `room_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `room_location` varchar(100) NOT NULL,
  PRIMARY KEY (`room_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_procedure_room
BEFORE DELETE ON procedure_room
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM PROCEDURE ROOM';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `shift`
--

DROP TABLE IF EXISTS `shift`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shift` (
  `shift_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `shift_date` date NOT NULL,
  `shift_type` varchar(20) NOT NULL,
  `is_validated` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`shift_id`),
  KEY `idx_shift_date_type` (`shift_date`,`shift_type`),
  CONSTRAINT `valid_shift_type` CHECK (`shift_type` in ('morning','afternoon','night'))
) ENGINE=InnoDB AUTO_INCREMENT=735 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER intern_doc_should_not_work_alone
BEFORE UPDATE ON shift
FOR EACH ROW
BEGIN
    DECLARE num_interns INT;
    DECLARE num_seniors INT;

 
    IF NEW.is_validated = 1 AND OLD.is_validated = 0 THEN
 

        SELECT
            COUNT(CASE WHEN d.position = 'Intern_Doc' THEN 1 END),
            COUNT(CASE WHEN d.position IN ('Senior_Consultant_Doc', 'Clinical_Director_Doc') THEN 1 END)
        INTO num_interns, num_seniors
        FROM shift_department_team sdt
        INNER JOIN doctor d ON sdt.faculty_id = d.doctor_id
        WHERE sdt.shift_id = NEW.shift_id;
 
        IF num_interns > 0 AND num_seniors = 0 THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'ERROR: AN INTERN DOCTOR MUST WORK WITH SENIOR OR CLINICAL DIRECTOR';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER validation_of_shift
BEFORE UPDATE ON shift
FOR EACH ROW
BEGIN
	DECLARE doc INT;
	DECLARE nurse INT;
	DECLARE adm INT;
	
IF NEW.is_validated=1 AND OLD.is_validated=0 THEN
	SELECT  COUNT(*) INTO doc FROM shift_department_team sdt
	INNER JOIN doctor d ON sdt.faculty_id=d.doctor_id
	WHERE sdt.shift_id=NEW.shift_id;

	SELECT COUNT(*) INTO nurse FROM shift_department_team sdt
	INNER JOIN nurse n ON sdt.faculty_id=n.nurse_id
	WHERE sdt.shift_id=NEW.shift_id;

	SELECT COUNT(*) INTO adm FROM shift_department_team sdt
	INNER JOIN administrative_faculty a ON sdt.faculty_id=a.administrativeFaculty_id
	WHERE sdt.shift_id=NEW.shift_id;

	IF doc<3 OR nurse<6 OR adm<2 THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT = 'ERROR: The shift is not valid. Minimum requirements: 3 Doctors, 6 Nurses, 2 Admins.';
	END IF;
END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_shift
BEFORE DELETE ON shift
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM shift';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `shift_department_team`
--

DROP TABLE IF EXISTS `shift_department_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shift_department_team` (
  `shift_id` int(10) unsigned NOT NULL,
  `dept_name` varchar(100) NOT NULL,
  `faculty_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`shift_id`,`dept_name`,`faculty_id`),
  KEY `facultyid_fk_sdt` (`faculty_id`),
  KEY `dept_fk_sdt` (`dept_name`),
  CONSTRAINT `dept_fk_sdt` FOREIGN KEY (`dept_name`) REFERENCES `department` (`dept_name`) ON UPDATE CASCADE,
  CONSTRAINT `facultyid_fk_sdt` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`faculty_id`) ON UPDATE CASCADE,
  CONSTRAINT `shiftid_fk_sdt` FOREIGN KEY (`shift_id`) REFERENCES `shift` (`shift_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER check_staff_placement
BEFORE INSERT ON shift_department_team
FOR EACH ROW
BEGIN
    DECLARE f_category INT;
    DECLARE staff_assigned_dept VARCHAR(50);

 
    IF EXISTS (SELECT 1 FROM shift_department_team
               WHERE faculty_id = NEW.faculty_id
                 AND shift_id = NEW.shift_id
                 AND dept_name <> NEW.dept_name) THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Error: Staff member already assigned to another department for this shift.';
    END IF;

    SET f_category = faculty_category(NEW.faculty_id);

 
    IF f_category = 2 THEN
        
        SELECT dept_name INTO staff_assigned_dept FROM nurse WHERE nurse_id = NEW.faculty_id;
        IF staff_assigned_dept <> NEW.dept_name THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error: A nurse can work only in their assigned department.';
        END IF;

    ELSEIF f_category = 3 THEN
        
        SELECT dept_name INTO staff_assigned_dept FROM administrative_faculty WHERE administrativeFaculty_id = NEW.faculty_id;
        IF staff_assigned_dept <> NEW.dept_name THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error: An administrator can work only in their assigned department.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER delete_shift_department_team
BEFORE DELETE ON shift_department_team
FOR EACH ROW
BEGIN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'ERROR: CANNOT DELETE FROM SHIFT DEPPARTMENT TEAM';
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `substance_in_drug`
--

DROP TABLE IF EXISTS `substance_in_drug`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `substance_in_drug` (
  `drug_id` int(10) unsigned NOT NULL,
  `substance_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`drug_id`,`substance_id`),
  KEY `fk_active_substance_substance_in_drug` (`substance_id`),
  CONSTRAINT `fk_active_substance_substance_in_drug` FOREIGN KEY (`substance_id`) REFERENCES `active_substance` (`substance_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_drug_treatment_substance_in_drug` FOREIGN KEY (`drug_id`) REFERENCES `drug_treatment` (`drug_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `supervisor`
--

DROP TABLE IF EXISTS `supervisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supervisor` (
  `supervised_id` int(10) unsigned NOT NULL,
  `supervising_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`supervised_id`,`supervising_id`),
  KEY `supervisor_fk` (`supervising_id`),
  CONSTRAINT `supervised_fk` FOREIGN KEY (`supervised_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE,
  CONSTRAINT `supervisor_fk` FOREIGN KEY (`supervising_id`) REFERENCES `doctor` (`doctor_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER supervisor_checks
BEFORE INSERT ON supervisor
FOR EACH ROW
BEGIN

	DECLARE sup INT;
	SELECT supervising_id INTO sup FROM supervisor WHERE supervised_id=NEW.supervising_id LIMIT 1;

 	IF count_supervising(NEW.supervising_id) >= 5 THEN
        	SIGNAL SQLSTATE '45000'
        	SET MESSAGE_TEXT = 'ERROR: CANNOT SUPERVISE MORE THAN 5';
   	END IF;
	
	
	IF position_of_doctor(new.supervised_id)='Clinical_Director_Doc' THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT='ERROR:Clinical_Director_Doc CANNOT BE SUPERVISED';
	END IF;

	IF position_of_doctor(NEW.supervising_id)='Intern_Doc' THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT='ERROR:AN INTERN IS NOT ALLOWED TO SUPERVISE ANYONE.';
	END IF;

	IF  position_of_doctor(NEW.supervised_id)='Senior_Consultant_Doc' AND position_of_doctor(NEW.supervising_id)='Junior_Consultant_Doc' THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT='ERROR:AN Junior_Consultant_Doc IS NOT ALLOWED TO SUPERVISE A Senior_Consultant_Doc. ';
	END IF;

	IF NEW.supervised_id=sup THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT='ERROR:circular chain of supervision';
	END IF;

	IF NEW.supervised_id=NEW.supervising_id THEN
		SIGNAL SQLSTATE '45000'
		SET MESSAGE_TEXT='ERROR :cannot supervise themselve';
	END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `triage`
--

DROP TABLE IF EXISTS `triage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `triage` (
  `triage_id` int(10) unsigned NOT NULL,
  `urgency_level` smallint(5) unsigned NOT NULL,
  `arrival_datetime` datetime NOT NULL,
  `triage_datetime` datetime DEFAULT NULL,
  `symptoms` text NOT NULL,
  `hospitalization` tinyint(1) NOT NULL DEFAULT 0,
  `patient_id` int(10) unsigned NOT NULL,
  `nurse_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`triage_id`),
  KEY `fk_triage_patient` (`patient_id`),
  KEY `fk_triage_faculty` (`nurse_id`),
  CONSTRAINT `fk_triage_faculty` FOREIGN KEY (`nurse_id`) REFERENCES `nurse` (`nurse_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_triage_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient` (`patient_id`) ON UPDATE CASCADE,
  CONSTRAINT `valid_urgency_level` CHECK (`urgency_level` between 1 and 5),
  CONSTRAINT `correct_triage_datetime` CHECK (`arrival_datetime` <= `triage_datetime`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `triage_hosp_vw`
--

DROP TABLE IF EXISTS `triage_hosp_vw`;
/*!50001 DROP VIEW IF EXISTS `triage_hosp_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `triage_hosp_vw` AS SELECT
 1 AS `triage_id`,
  1 AS `hospitalization`,
  1 AS `patient_id`,
  1 AS `hospitalization_id`,
  1 AS `admission_date`,
  1 AS `discharge_date`,
  1 AS `cost_id`,
  1 AS `bed_number` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `triage_patient_vw`
--

DROP TABLE IF EXISTS `triage_patient_vw`;
/*!50001 DROP VIEW IF EXISTS `triage_patient_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `triage_patient_vw` AS SELECT
 1 AS `triage_id`,
  1 AS `hospitalization`,
  1 AS `patient_id`,
  1 AS `first_name`,
  1 AS `last_name`,
  1 AS `insurance_provider` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `doctor_full_info`
--

/*!50001 DROP VIEW IF EXISTS `doctor_full_info`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `doctor_full_info` AS select `d`.`doctor_id` AS `doctor_id`,`f`.`SSN` AS `SSN`,`f`.`first_name` AS `first_name`,`f`.`last_name` AS `last_name`,`f`.`age` AS `age`,`f`.`email` AS `email`,`f`.`phone_number` AS `phone_number`,`f`.`date_hired` AS `date_hired`,`d`.`med_association_license_num` AS `med_association_license_num`,`d`.`med_specialty` AS `med_specialty`,`d`.`position` AS `position` from (`faculty` `f` join `doctor` `d` on(`d`.`doctor_id` = `f`.`faculty_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `faculty_shifts`
--

/*!50001 DROP VIEW IF EXISTS `faculty_shifts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `faculty_shifts` AS select `f`.`faculty_id` AS `faculty_id`,`sdt`.`shift_id` AS `shift_id`,`s`.`shift_date` AS `date` from ((`faculty` `f` left join `shift_department_team` `sdt` on(`f`.`faculty_id` = `sdt`.`faculty_id`)) left join `shift` `s` on(`sdt`.`shift_id` = `s`.`shift_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `hospitalization_bed_vw`
--

/*!50001 DROP VIEW IF EXISTS `hospitalization_bed_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `hospitalization_bed_vw` AS select `hb`.`bed_number` AS `bed_number`,`hb`.`dept_name` AS `dept_name`,`h`.`hospitalization_id` AS `hospitalization_id`,`h`.`admission_date` AS `admission_date`,`h`.`cost_id` AS `cost_id`,`h`.`triage_id` AS `triage_id` from (`hospital_bed` `hb` join `hospitalization` `h` on(`h`.`bed_number` = `hb`.`bed_number`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `triage_hosp_vw`
--

/*!50001 DROP VIEW IF EXISTS `triage_hosp_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `triage_hosp_vw` AS select `t`.`triage_id` AS `triage_id`,`t`.`hospitalization` AS `hospitalization`,`t`.`patient_id` AS `patient_id`,`h`.`hospitalization_id` AS `hospitalization_id`,`h`.`admission_date` AS `admission_date`,`h`.`discharge_date` AS `discharge_date`,`h`.`cost_id` AS `cost_id`,`h`.`bed_number` AS `bed_number` from (`triage` `t` join `hospitalization` `h` on(`h`.`triage_id` = `t`.`triage_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `triage_patient_vw`
--

/*!50001 DROP VIEW IF EXISTS `triage_patient_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `triage_patient_vw` AS select `t`.`triage_id` AS `triage_id`,`t`.`hospitalization` AS `hospitalization`,`t`.`patient_id` AS `patient_id`,`p`.`first_name` AS `first_name`,`p`.`last_name` AS `last_name`,`p`.`insurance_provider` AS `insurance_provider` from (`triage` `t` join `patient` `p` on(`p`.`patient_id` = `t`.`patient_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-20  3:45:26
