SELECT
    hb.dept_name AS department,
    YEAR(hb.admission_date) AS year,
    c.KEN_code,
    SUM(c.KEN_cost) AS total_basic_cost,
    SUM(c.extra_cost_ALOS) AS total_extra_cost,
    SUM(c.KEN_cost + c.extra_cost_ALOS) AS total_income,
    tp.insurance_provider,
    COUNT(hb.hospitalization_id) AS total_hospitalizations
FROM cost c
INNER JOIN hospitalization_bed_vw hb ON hb.cost_id = c.cost_id
INNER JOIN triage_patient_vw tp ON tp.triage_id = hb.triage_id
GROUP BY
    hb.dept_name,
    YEAR(hb.admission_date),
    c.KEN_code,
    tp.insurance_provider;

