SELECT
    p.patient_id,
    p.first_name,
    p.last_name,
    hb.dept_name,
    COUNT(*) AS num_of_hosp,
    SUM(c.KEN_cost + c.extra_cost_ALOS) AS total_cost
FROM triage_patient_vw p
INNER JOIN triage_hosp_vw h ON h.triage_id = p.triage_id
INNER JOIN hospital_bed hb ON hb.bed_number = h.bed_number
INNER JOIN cost c ON c.cost_id = h.cost_id
WHERE p.hospitalization = TRUE
GROUP BY
    p.patient_id,
    p.first_name,
    p.last_name,
    hb.dept_name
HAVING COUNT(*) > 3;

