WITH NewSurgeonCounts AS (
    SELECT
        f.first_name,
        f.last_name,
        f.age,
        COUNT(*) AS total_procedures
    FROM faculty f
    INNER JOIN medical_procedures mp ON f.faculty_id = mp.mainSurgeon_id
    WHERE f.age < 35
    GROUP BY f.faculty_id
)
SELECT first_name, last_name, age, total_procedures
FROM NewSurgeonCounts
WHERE total_procedures = (SELECT MAX(total_procedures) FROM NewSurgeonCounts limit 1);

