SELECT h.hospitalization_id,
      h.admission_date AS admission_history, 
      h.hospitalization_admissionDiagnosis_code AS admission_diagnosis, 
      h.hospitalization_dischargeDiagnosis_code AS discharge_diagnosis,
       (c.KEN_cost+c.extra_cost_ALOS) AS total_hosp_cost,
       ((e.nursing_care_quality+e.cleanliness+e.food+e.overall_experience)/4.0) AS average_of_hosp_evaluation
FROM triage t 
JOIN hospitalization h ON t.triage_id=h.triage_id
JOIN evaluation_of_hospitalization e ON h.hospitalization_id=e.hospitalization_id
JOIN cost c ON h.cost_id=c.cost_id 
WHERE t.patient_id=125;
