SELECT
    asub.substance_id,
    asub.substance_name,
    COUNT(DISTINCT ats.patient_id) AS num_of_patient_ts,
    COUNT(DISTINCT sid.drug_id) AS num_of_drug
FROM active_substance AS asub
LEFT JOIN allergic_to_Substance AS ats ON asub.substance_id = ats.substance_id
LEFT JOIN substance_in_drug AS sid ON asub.substance_id = sid.substance_id
GROUP BY asub.substance_id, asub.substance_name
ORDER BY num_of_patient_ts DESC;

