WITH patient_hosp_duration (patient_id, year, total_hosp_days)
AS (
    SELECT
        patient_id,
        YEAR(admission_date) AS year,
        SUM(DATEDIFF(discharge_date, admission_date)) AS total_duration
    FROM triage_hosp_vw
    GROUP BY YEAR(admission_date), patient_id
)
SELECT
t1.patient_id AS patient_id_1,
t2.patient_id AS patient_id_2,
t1.year,
t1.total_hosp_days
 FROM patient_hosp_duration t1
INNER JOIN patient_hosp_duration t2
    ON t1.total_hosp_days = t2.total_hosp_days
    AND t1.year = t2.year
    AND t1.patient_id < t2.patient_id
WHERE t1.total_hosp_days > 15;

