SELECT mainSurgeon_id, COUNT(*) AS total_medical_procedures
FROM medical_procedures
WHERE procedure_date BETWEEN '2026-01-01' AND '2026-12-31'
GROUP BY mainSurgeon_id
HAVING total_medical_procedures <= (
    SELECT COUNT(*)
    FROM medical_procedures
    WHERE procedure_date BETWEEN '2026-01-01' AND '2026-12-31'
    GROUP BY mainSurgeon_id
    ORDER BY COUNT(*) DESC
    LIMIT 1) - 5;

