WITH RECURSIVE hierarchy_supervisors AS (
 
    SELECT
        supervised_id AS start_of_hierarchy,
        supervised_id,
        supervising_id,
        1 AS lvl
    FROM supervisor
 
    UNION ALL
 
 
    SELECT
        h.start_of_hierarchy, s.supervised_id,s.supervising_id,
        h.lvl + 1 AS lvl
    FROM hierarchy_supervisors h
    INNER JOIN supervisor s ON s.supervised_id = h.supervising_id
)

SELECT
    h.start_of_hierarchy AS 
ID
Αρχικού
Γιατρού,
    h.supervising_id AS ID
Επόπτη,
    h.lvl AS Επίπεδο,
    d.position AS Βαθμίδα
Επόπτη
FROM hierarchy_supervisors h
INNER JOIN doctor d ON d.doctor_id = h.supervising_id
ORDER BY h.start_of_hierarchy, h.lvl;

