WITH total_triage AS (
    SELECT COUNT(triage_id) AS tot FROM triage
)
SELECT
    t.urgency_level,
    IFNULL(h.dept_name, 'No Hospitalization') AS department,
    COUNT(t.triage_id) AS total_incidents,
    SEC_TO_TIME(AVG(TIME_TO_SEC(TIMEDIFF(t.triage_datetime, t.arrival_datetime)))) AS avg_waiting_time,
    -- Στρογγυλοποίηση σε 2 δεκαδικά και προσθήκη του %
    CONCAT(ROUND((COUNT(h.hospitalization_id) / tt.tot) * 100, 2), '%') AS hospitalization_percentage
FROM triage t
LEFT JOIN hospitalization_bed_vw h ON h.triage_id = t.triage_id
CROSS JOIN total_triage tt
GROUP BY
    t.urgency_level,
    h.dept_name;

